@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 767px) {

}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }

}

@media screen and (max-width: 992px) {

}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px !important;
  }

  .screenshot-pic {
    width: 300px !important;
  }
}